apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: fitrack-iam-hpa
  namespace: fitrack
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: fitrack-iam
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
