apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: iam-postgres
  namespace: fitrack
spec:
  serviceName: iam-postgres
  replicas: 1
  selector:
    matchLabels:
      app: iam-postgres
  template:
    metadata:
      labels:
        app: iam-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: fitrack-secrets
                  key: IAM_DB_NAME
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: fitrack-secrets
                  key: IAM_DB_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: fitrack-secrets
                  key: IAM_DB_PASSWORD
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 2Gi
